/* Titulo dos cards */
.titulo-nav {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  flex-wrap: wrap;
  font-family: var(--fonte-Jura);
}
.titulo-nav h1 {
  font-size: 20px;
  font-weight: 500;
}
.explorar {
  color: var(--vermelho);
  text-decoration: 1px underline;
  font-size: 13px;
  cursor: pointer;
}
/* Card */
.container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container {
  background-color: #fff;
  width: 250px;
  height: 305px;
  border-radius: 10px;
  font-family: var(--fonte-Jura);
  margin-bottom: 3vh;
}

.card-container > img {
  width: 100%;
  height: 30vh;
  border-radius: 10px 10px 0px 0px;
}

.card-container h2 {
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

/* Parte para colocar o video */
.img-slide {
  width: 90vw;
}

#slide-container{
  display: flex;
  width: 100vw;
  justify-content: center;
}

.slide-container {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

.slider{
  width: 80vw;
  overflow: hidden;
  margin-top: 40px;
}

.slides{
  width: 400%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 50%;
  position: relative;
  transition: .2s;
}

.slide img{
  width: 80vw;
}

.navigation-manual{
  position: absolute;
  width: 80vw;
  margin-top: -5vh;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn{
  border:1.7px solid var(--vermelho);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.manual-btn:hover{
  background-color: #f8010181;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -50%;
}